*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --text: 1.5rem;
  --head: calc(1rem + 5vw);
  --bg-color: #f6b93b;
}

body{
  font-family: 'Poppins', sans-serif;
}

.hero-section{
  min-height: 100vh;
  background: url("https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/o1rdnypkul6tv5c4s54i");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  position: relative;
  z-index: 2;
  animation: slide 1s easy-in-out;
  }

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0rem 1.5rem;
}

.navbar ul{
  list-style: none;
}


.navbar ul li {
  display: inline-block;
  margin-left: 3rem
  font-size: var(--text);
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  border-bottom: : 2px solid transparent;
}


.navbar ul li a {
  border-bottom: 2px solid white;
}


.hero-text{
  color: white;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@keyframes {
from {
  transform: translateX(-100%);
}
to {
  transform: translateX(0%);
}
}


.hero-text::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  top: 0;
  z-index: -1;
  opacity: 0.7;
}



.hero-text a {
  color: white;
  background: var(--bg-color);
  font-weight: 900;
  padding: 0.8rem 1rem;
  font-size: var(--text);
  margin: 0.8rem auto;
  display: block;
  transition: opacity 250ms linear;
}

.hero-text a:hover{
  font-size: var(--head);
}

.hero-text h2{
  font-size: var(--head);
  color: white;
}

.hero-text p {
  font-size: 2.5rem;
  color: white;
}
